* {
  box-sizing: border-box;
}

body {
  background: $bg-color;
  font-family: $font-family;
  color: $color;
  line-height: 1.5;
  margin: 0;
  font-weight: 100;
  font-size: 18px;
  letter-spacing: 1px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased; 
}

p {

}