{% extends "_layout" %}

{% block page_header %}
  <section class="page-header" style="background-image: url('{{ entry.phImageBackground.first.url }}');">
   <div class="container">
      <h1 class="page-header__headline"><strong>We love Baking</strong></h1>
      <p>Whether you are a Merry Berry Baker or just starting out, eBakes can help you! We are a community of Baking lovers, sharing receipes and ideas to improve your skills.</p>
      <a href="#" class="button">Create Account</a>
   </div>
   </section>
{% endblock %}