
$shark: #323436;
$spray: #75CEF0;
$red-violet: #E9168C;
$biscay: #1F3C67;
$white-lilac: #FCFCFE;
$curious-blue: #1995CB;

$primary-color: $shark;
$secondary-color: $spray;
$white: #fff;

$bg-color: $white;
$font-family: "usual";
$color: $shark;